.add-music-heading {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.add-music-user-img {
    overflow: hidden;
    height: 60px;
    width: 60px;
    margin-right: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}