.genreslist-container {
    height: 85%;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    overflow-y: scroll;
}

.genreslist-container::-webkit-scrollbar {
    width: 0;
}

.top-clases-genres {
    grid-column: 1/3;
    color: #f1f1f1;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right: auto;
}