.navBar-bottom-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(33, 33, 33, .8);
}

.icon-navbar-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.input-navbar-bottom {
    display: none;
}

.input-navbar-bottom:checked+.label-navbar-bottom>.icons-navbar {
    color: #00FFA3;
}

.icons-navbar {
    width: 2.87rem;
    height: 2.87rem;
    color: #f1f1f1;
}