.trendlist-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 18px;
    height: 85vh;
    overflow-y: scroll;
}

.trendlist-container::-webkit-scrollbar {
    width: 0;
}

.trend-type-title {
    font-size: 1.8rem;
    padding-left: 1rem;
}

.top-trend-container {
    display: flex;
    flex-direction: column;
}

.top-trend-items-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: scroll;
}

.top-trend-items-container::-webkit-scrollbar {
    width: 0;
}

.white-space-home-page {
    height: 10vh;

}