.trendlist-wrapper {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.trendlist-wrapper::-webkit-scrollbar {
    width: 0;
}

.trendlist-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 18px;

}

.trend-type-title {
    font-size: 1.8rem;
    padding-left: 1rem;
}

.top-trend-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-trend-items-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: scroll;
}

.top-trend-items-container::-webkit-scrollbar {
    width: 0;
}