.group-item-list {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    margin: 20px 5px;
    font-size: 14px;
    font-weight: 400;
}

.img-list {
    width: 70px;
    height: 70px;
    object-fit: cover;

}

.item-list-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-item-track-title {
    display: block;
    text-overflow: ellipsis;
}

.group-item-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.group-item-delete-icon {
    color: white;
    height: 26px;
    width: 26px;
}