.list-detail-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.list-detail-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-detail-angle-btn {
    position: relative;
    right: 40%;
    width: 20px;
    height: 35px;
    margin: 3.5vh;
}

.list-detail-img {
    width: 220px;
    height: 230px;
}

.artist-img {
    border-radius: 50%;
    ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.list-detail-dashboard {
    display: flex;
    align-items: center;
    width: 100vw;
    margin-top: 2rem;
}

.list-detail-add-btn {
    width: 30px;
    height: 30px;
    margin-left: 3.5vh;
}

.list-detail-heart-btn {
    width: 45px;
    height: 42px;
    margin: 0 5vw 0 50vw;
}

.list-detail-container-play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 3.5vh;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f1f1f1;
}

.list-detail-play-btn {
    width: 34px;
    height: 34px;
    color: #12001e;
}

.list-detail-container-items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 50px);
}

.list-detail-container-items::-webkit-scrollbar {
    width: 0;
}